<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../car/css/style.css">
    <title>cars</title>
</head>
<body>
    <div class="container pt-5" id="app">
        <div class="row mb-3">
            <div class="col">
                <h1>Cars application</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="search">Find yor car</label>
                    <input type="text" class="form-control" id="search" placeholder="Name, model ..." v-model="search">
                </div>
                <hr>
                <ul class="list-group">
                    <li 
                        v-for="(car, index) of filteredCars"
                        class="list-group-item list-group-item-action"
                        v-on:click="selectCar(index)"
                        v-bind:class="{'active': selectCarIndex === index}"
                    >
                        {{ car.name }} {{ car.model }}
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="row pt-3">
                    <div class="col-md-5">
                        <h2 class="ml-2">{{ car.name }}</h2>
                        <img v-bind:src="car.image" v-bind:alt="car.name" class="img-fluid rounded m-2">
                    </div>
                    <div class="col-md-7 pt-2">
                        <h5>Car details</h5>
                        <ul>
                            <li>Model - <strong>{{ car.model }}</strong></li>
                            <li>Year - <strong>{{ car.year }}</strong></li>
                            <li>Ovner - <strong>{{ car.owner }}</strong></li>
                        </ul>
                        <div class="phone-block">
                             <p v-if="phoneVisibility"> {{ car.phone }}</p> 
                        </div>
                        <button class="btn btn-outline-success mr-3" v-on:click="phoneVisibility = !phoneVisibility"> {{ phoneBtnText }} </button>
                        <button class="btn btn-primary" @click="modalVisibility = true">Buy</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-3" v-if="logs.length !== 0">
            <div class="col-md-12">
                <ul class="list-group">
                    <li 
                    v-for="log in logs" 
                    class="list-group-item" 
                    v-bind:class="{ 
                        'list-group-item-secondary': log.type === 'cancel',
                        'list-group-item-success': log.type === 'ok'
                    }"
                    > {{log.text}} {{ log.date | date }} </li>
                </ul>
            </div>
        </div>
        <div class="modal fade show" v-if="modalVisibility" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Do you want to bay this car?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="modalVisibility = false">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Current car - <strong>{{ car.name }}</strong></p>
                  <ul>
                    <li>Model - <strong>{{ car.model }}</strong></li>
                    <li>Year - <strong>{{ car.year }}</strong></li>
                    <li>Ovner - <strong>{{ car.owner }}</strong></li>
                </ul>
                </div>
                <div class="modal-footer">
                   <button type="button" class="btn btn-primary" v-on:click="newOrder">Buy</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" v-on:click="cancelOrder">Cancel</button>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="modal-backdrop fade show" v-if="modalVisibility"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../car/js/script.js"></script>
</body>
</html>