<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokedex</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div class="container" id="app">
    
    <div class="row justify-content-center mt-5">
      <div class="col-12 col-md-6 border border-dark">
        <h1 class="text-center">POKEDEX</h1>
      </div>
    </div> 
       
    <div class="row">
      <div class="col-5 col-md-8">
        <div class="row mt-5">
          <div class="col-12 col-md-3 m-2 border border-dark text-center" v-for="(name, index) of pokemonsColection" v-on:click="selectedPokemon(index), pokemonVisibiliti = true">
            <img v-bind:src="name.sprites.front_default" v-bind:alt="name.name" class="border border-dark mt-3"><br>
            <strong class="mt-2">{{ name.name | capitalizeFirstLetter }}</strong> <br>
            <div class="mb-3 mr-1 pl-2 pr-2 rounded d-inline-block" v-for="type of name.types" v-bind:style="type.type.name | colorType"> {{ type.type.name | capitalizeFirstLetter }} </div><br>
          </div>
          <div class="col-12 col-md-10"><button type="button" class="btn btn-primary btn-lg btn-block mb-3" v-on:click="load">Load More</button></div>
          
        </div>
      </div>
      <div class="col-6 ml-3 ml-md-0 col-md-4 position-relative" v-if="pokemonVisibiliti">
        <div class="sticky-top border border-dark text-center" style="margin-top: 40%;">
          <img class="border border-dark mt-3" style="width: 80%;" v-bind:src="selectPokemon.sprites.front_default" v-bind:alt="selectPokemon.name">
          
            <h3 class="mt-2">{{ selectPokemon.name | capitalizeFirstLetter}} #{{ addZero(selectPokemon.id) }} </h3>
            <table class="m-2 mr-0" border="1" cellpadding="5" width="95%">
              <tr>
               <td width="70%">Type</td>
               <td width="30%"><span v-for="type of selectPokemon.types"> {{type.type.name}}</span><br></td>
              </tr>
              <tr>
               <td width="70%">Attack</td>
               <td width="30%">{{ selectPokemon.stats[4].base_stat }}</td>
              </tr>
              <tr>
                <td width="70%">Defense</td>
                <td width="30%">{{ selectPokemon.stats[3].base_stat }}</td>
               </tr>
               <tr>
                <td width="70%">HP</td>
                <td width="30%">{{ selectPokemon.stats[5].base_stat }}</td>
               </tr>
               <tr>
                <td width="70%">SP Attack</td>
                <td width="30%">{{ selectPokemon.stats[2].base_stat }}</td>
               </tr>
               <tr>
                <td width="70%">SP Defense</td>
                <td width="30%">{{ selectPokemon.stats[1].base_stat }}</td>
               </tr>
               <tr>
                <td width="70%">Speed</td>
                <td width="30%">{{ selectPokemon.stats[0].base_stat }}</td>
               </tr>
               <tr>
                <td width="70%">Weight</td>
                <td width="30%">{{selectPokemon.weight}}</td>
               </tr>
               <tr>
                <td width="70%">Total moves</td>
                <td width="30%">{{selectPokemon.moves.length}}</td>
               </tr>
             </table>
        </div>
      </div>
    </div>
  </div>

  <script src="../Pokedex/js/script.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>